:root {
    --primary-color: #ffff00;
    --secondary-color: #020887;
    --accent1-color: #334195;
    --acent2-color: #647AA3;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--secondary-color);
}

.hero img {
    position: relative;
    display: blocK;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

h1 {
    position: absolute;
    top: 150px;
    left: 850px;
    font-weight: 700;
    font-size: 80px;
    background-color: var(--primary-color);
    opacity: 0.6;
    padding: 15px;
}

article p {
    position: absolute;
    bottom: 10px;
    background-color: var(--primary-color);
    padding: 60px;
    margin: 20px;
    opacity: 0.8;
}

article img {
    float: right;
    max-width: 300px;
    max-height: auto;
}

h2 {
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

p {
    color: var(--acent2-color);
    font-family: "Gidole", sans-serif;
    font-size: 50px;
}

section p {
    color: #020887;
    font-size: 700;
    text-align: center;
}

section img {
    margin: 20px;
    border: 1px solid black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #cbcdf1;
    background-color: rgb(223, 241, 246);
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav img {
    padding-right: 100px;
    margin: 0 0.25rem 0 1rem;
    width: 150px;
    height: auto;
    text-decoration: none; 
}   

header nav a {
    padding: 15px;
    border: 1px solid black;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: crimson;
}

footer {
    display: flex;
    align-items: center;
    background-color: rgb(223, 241, 246);
    padding: 10px;
}

footer p {
    align-items: center;
    justify-content: center;
}

footer nav a {
    padding-left: 500px;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
}


main section {
    border: 1px var(--secondary-color);
}