:root{
    --heading-color: darkblue;
    --main-color: white;
}

nav {
    background-color: var(--heading-color);
    padding: 20px;
}

nav a {
    color: var(--main-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 1000px;
}

aside {
    width: 40rem;
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 0.2);
    padding: 2rem;
    background-color: var(--heading-color);
    color: var(--main-color);  
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

